.logo {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    border: 5px solid white;
}
.text {
    text-align: center;
    color: white;
}
body {
    font-family: Comic Sans MS;
    background-color: bisque;
}
header {
    background-color: burlywood;
    border-radius: 15px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: bisque;
    padding-right: 60px;
    font-size: 24px;
}
.navi {
    margin: 10px 0px;    
    text-align: center;
}

main {
    background-color: burlywood;
    border-radius: 10px;
}

footer {
    background-color: burlywood;
    border-radius: 10px;
    padding: 5px;
}

